body{
    background-color: black;
}


.poster_box{
    width: 50%;
    margin-top: 100px;
    margin-left: 25%;
    text-align: center;
}

img{
    border: 5px solid white;
    width: 100%;
}

h1{
    color: white;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* text-align: center; */
}

p{
    color: white;
    /* text-align: center; */
}